
@font-face {
    font-family: Titulo;
    src: url(../fontes/ANODETONOONE.TTF);
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #603A03;
}

body {
    background-image: url('../images/fundo.jpg');
}

#container {
    width: 950px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#fundoGame {
    width: 950px;
    height: 630px;
    background-image: url('../images/fundo_game.jpg');
    border-color: #FFF;
    border-style: solid;
}

#jogador {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url('../images/apache.png');
}

#inimigo1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url('../images/inimigo1.png');
}

#inimigo2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url('../images/inimigo2.png');
}

#amigo {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
    background-image: url('../images/amigo.png');
}


#inicio {
    width: 350px;
    height: 200px;
    margin: 100px auto 0;
    text-align: center;
    background-color: #FFF;
    padding: 10px;
}

.anima1 {
    background-image: url('../images/apache.png');
    animation: play .5s steps(2) infinite;
}

@keyframes play {
    from{
       background-position: 0;
    }
    to {
       background-position: 512px;
    }
}

.anima2 {
    background-image: url('../images/inimigo1.png');
    animation: play2 .5s steps(2) infinite;
}

@keyframes play2 {
    from{
       background-position: 0;
    }
    to {
       background-position: -512px;
    }
}

.anima3 {
    background-image: url('../images/amigo.png');
    animation: play3 .9s steps(12) infinite;
}

@keyframes play3 {
    from{
        background-position: 0;
     }
     to {
        background-position: -528px;
     }
}

#disparo {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url('../images/disparo.png');
}

#explosao1 {
    width:15px ;
    height: 87px;
    position: absolute;
}

#explosao2 {
    width:15px ;
    height: 87px;
    position: absolute;
}

#explosao3 {
    width:44px ;
    height: 51px;
    position: absolute;
}

.anima4 {
    width:44px ;
    height: 51px;
    background-image: url('../images/amigo_morte.png');
    animation: play4 .5s steps(7) infinite;
}

@keyframes play4 {
    from{
        background-position: 0;
     }
     to {
        background-position: -308px;
     }
}

#placar {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 5px;
    top: 590px;
}

h2 {
    font-family: Titulo;
    font-size: 20px;
    color: #fff;
}

#energia {
    z-index: 999;
    position: absolute;
    width: 140px;
    height: 38px;
    left: 750px;
    top: 7px;
}

h3 {
    font-family: Titulo;
    font-size: 20px;
    color: #603A03;
}

#fim {
    width: 350px;
    height: 200px;
    background-color: #FFF;
    margin: 100px auto 0;
    text-align: center;
    padding: 10px;
}